/* Global styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    justify-content: center;
    align-items: center;
}
section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #4CAF50;
    color: white;
}

thead th {
    padding: 12px 15px;
    text-align: left;
}

tbody td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    text-align: left;
    vertical-align: middle;
}

/* Responsive */
@media (max-width: 600px) {
    table {
        display: block;
        width: 100%;
    }
    thead {
        display: none;
    }
    tbody tr {
        display: block;
        margin-bottom: 10px;
    }
    tbody td {
        display: block;
        padding: 10px;
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    tbody td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        text-align: left;
        font-weight: bold;
    }
}
